@charset "UTF-8";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";
@import "localvars";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
//@import "components/cards";
@import "components/toast";
//@import "components/tabs";
//@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";


//@import "components/preloader";
//@import "components/slider";
//@import "components/date_picker/default.scss";
//@import "components/date_picker/default.date.scss";
//@import "components/date_picker/default.time.scss";

.note-tag  {
  min-width: 1rem;
  padding: 0 4px;
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: inherit;
  color: #81c784;
  float: right;
  border-color: #424242;
  border: 1px solid #e0e0e0;
  margin-right: 2px;
  @include box-sizing(border-box);
  border-radius: 7px;
}
.note-tags {
  margin-bottom: 20px;
  line-height: 1.2rem;
}
.note-tag-selected  {
  background-color: #f1f8e9;
}

.collection {
  .note-collection-item {
    @extend .collection-item;
    border-bottom-width: 1px;
    border-color: #9e9e9e;
  }
}
.pinned-note {
  background-color: #fff59d;
}

#notes-list div.collection-item  {
  padding: 10px 10px 10px 25px;
}

/* Sample */

.dropdown-menu {
  border: 1px solid #ddd;
  background-color: white;
}

.dropdown-menu li {
  border-top: 1px solid #ddd;
  padding: 2px 5px;
}

.dropdown-menu li:first-child {
  border-top: none;
}

.dropdown-menu li:hover,
.dropdown-menu .active {
  background-color: #e8f5e9 ;
}


/* SHOULD not modify */

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu a:hover {
  cursor: pointer;
}

.textcomplete-item {
  font-size: 0.8rem;
}

.textcomplete-item a {
  color: #26a69a;
}

#notes-list {
  border-width: 0px;
}

#notes-list div.editing .edit {
  display: block;
}

div.view {
  position: relative;
}
div.view label {
  position: relative;
  font-size: 1rem;
  color: #212121;
}

#notes-list div.editing .view {
  display: none;
}
#notes-list div .edit {
  display: none;
}

a.action-delete {
  display: none;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -11px;
  color: #ffccbc;
  cursor: hand;
}
a.action-delete:hover {
  color: #ff8a65;
}
i.action-pin {
  font-size: 1.25rem;
  margin-right: 10px;
  color: #ffeb3b;
  cursor: hand;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
#tags-list div:hover .action-pin {
  visibility: visible;
}
#tags-list div.collection-item  {
  padding: 10px 10px 10px 10px;
}

.cursor-hand {
  cursor: hand;
}
#notes-list div:hover .action {
  display: block;
}

a.icon-btn {
  padding: 0 1rem;
}

.tags-list {
  //position: fixed;
  right: 70px;
  top: 65px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;

  //top: 15px;
  //left: 15px;
  //position: absolute;
}

/**
 * Checkbox Five
 */
.checkbox {
  width: 25px;
  margin: 20px 100px;
  position: relative;
}

/**
 * Create the box for the checkbox
 */
.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.checkbox label:hover::after {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
